---
---
.header {
    .nav-item {
        border-right: 1px solid #ddd;
    }
    .nav-item:last-of-type {
        border-right: initial;
    }

    .navbar-collapse.show {
        .nav-item {
            border-bottom: 1px solid #ddd;
            border-right: initial;
        }
        .nav-item:last-of-type {
            border-bottom: initial;
        }
    }
}

.homecarousel {
    .carousel-item {
        .carousel-caption {
            background: rgba(0,0,0,0.7);
        }
        
        img {
        object-fit: cover;
        min-height: 400px;
        max-height: 500px;
    }}
}

.homebuttons {
    .buttongradient {
        background: linear-gradient(45deg, black, transparent);
    }
}