<div class="header">
  <nav class="navbar navbar-expand-lg bg-light g-0 py-3">
      <div class="container">
        <div class="branding">
          <a class="navbar-brand" href="{{site.baseurl}}/"><img src="https://www.autoglym.com/pub/media/logo/default/Autoglym_logo_110x110_b.jpg" width="50px"></a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          {% include navleft.html %}
          {% include navright.html %}
      </div>
  </div>
    </nav>
</div>