---
layout: root
---
{% assign sorted_carousel = site.pages | where:"type", "product" | sort: "sort" %}
<div id="carouselExampleCaptions" class="carousel slide homecarousel" data-bs-ride="carousel" data-bs-pause="false" data-bs-touch="true">
    
    <div class="carousel-indicators">
        {% for p in sorted_carousel %}
{% assign sorted_carousel_index = forloop.index | minus: 1%}
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{sorted_carousel_index}}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="{{ p.hero-title }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for p in sorted_carousel %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ p.hero }}" class="d-block w-100" alt="{{ p.hero-title }}">
            <div class="carousel-caption p-3">
              <h5>{{ p.hero-title }}</h5>
              <p>{{ p.hero-description }}</p>
              <a class="btn btn-danger mb-2" href="{{ site.baseurl }}{{ p.url }}" role="button">More Info</a>
            </div>
          </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<div class="container p-3 pb-0">
    <div class="row">
        {% for p in sorted_carousel %}
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <p class="bg-danger">fafasd</p>
        </div>  
        {% endfor %}
    </div>
</div>
{{content}}

